.blog-section{

    background : #FDFBD4;

    padding: 35px 90px 90px;

}

.section-header{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    margin-bottom:40px;
}

.section-header h2{

    font-size:56px;

    font-weight:800;

    color:#111827;

    margin-bottom:10px;
}

.section-header p{

    color:#6b7280;

    font-size:20px;

    max-width:700px;

    line-height:1.7;

    margin-bottom:20px;
}

.view-all-container{

    display:flex;

    justify-content:center;

    margin-top:50px;
}

.view-all-btn{

    text-decoration:none;

    padding:14px 28px;

    border-radius:14px;

    background:#2563eb;

    color:white;

    font-size:17px;

    font-weight:600;

    transition:.3s;
}

.view-all-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 12px 30px rgba(37,99,235,.25);
}

.blog-list{
    display:grid;
    grid-template-columns:repeat(2,1fr);

    gap:30px;

    padding:20px 80px 60px;
}

@media (max-width:1024px){

    .blog-section{

        padding:30px 40px 70px;
    }

    .section-header h2{

        font-size:42px;
    }

    .section-header p{

        font-size:17px;
    }

    .blog-list{

        padding:20px 20px 50px;

        gap:24px;
    }
}

@media (max-width:768px){

    .blog-section{

        padding:25px 20px 60px;
    }

    .section-header h2{

        font-size:32px;
    }

    .section-header p{

        font-size:15px;

        padding:0 10px;
    }

    .blog-list{

        grid-template-columns:1fr;

        padding:15px 0 40px;

        gap:20px;
    }

    .view-all-btn{

        padding:12px 24px;

        font-size:15px;
    }
}

@media (max-width:480px){

    .section-header h2{

        font-size:26px;
    }

    .blog-section{

        padding:20px 14px 50px;
    }
}