.footer {
    margin-top: 0;
    padding: 25px 20px;

    background-color: #1f2937;
    color: white;

    text-align: center;
}

.footer p {
    margin: 8px 0;
    font-size: 15px;
}

.footer p:first-child {
    font-weight: bold;
}